body {
    font-family: Arial, "Times New Roman", Times, serif;
    background-color: rgb(38,40,42);
    color: rgb(169,171,173);
    word-wrap: break-word;
}

h3 {
	color: white;
	font-size: 20px;
}

h1{
	font-style:italic;
	font-size:50px;
}

a {
	color: red;
}

p {
	font-size: 13px;
}